body {
    margin: 0;
    background-color: #160d20;
    font-family: 'Roboto', sans-serif;
    color: #bbbbbb;
}
.anim-text-parent{
    font-family: 'Lato', sans-serif;
    font-size: 61.5px;
	font-weight: bold;
	white-space: nowrap;
	position: relative;
	color: #a31844;
    width: 100%; /* Full width */
    height: 100%;
    text-align: center;
	text-transform: uppercase;
	font-weight: 400;

}
.anim-text1, .anim-text2 {
    overflow: hidden;
    white-space: nowrap;
    left: 50%; /* Center horizontally */
    top: 50%;
    transform: translateX(-50%); /* Adjust for exact centering */
    position: absolute;
    transition: width 1s ease;
    clip: rect(0px, 0px, 300px, 0px);
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: #D6C5F0;
}
p {
    font-size: 1.3em;
}
i {
    font-size: 50px;
    margin: 0.8rem;
}
#js {
    font-size: 45px;
}
.overlay {
	position: absolute;
    left: 0;
    top: 0;
	z-index: 1000;
	pointer-events: none;
	width: 100%;
	height: 100%;
}
.curve {
    aspect-ratio: 900/300;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    .s1 {
        background-image: url(assets/curve1.svg);
        margin-bottom: -2px;
        position: relative;
        z-index: 2;
    }
    .s2 {
        background-image: url(assets/curve2.svg);
        margin-bottom: -3px;
        position: relative;
        z-index: 2;
    }


.about {
    margin-top: 9rem;
    height: auto;
    padding: 60px 15% 0px 15%;

}
#webglCanvas {
    width: 392px !important;
    height: 633px !important;
    display: block;
}
.preloader {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #160d20;
    width: 100vw;
    height: 100vh;
}
h5 {
    color: #a31844;
    font-size: medium;
}
#hey {
    margin-bottom: 15px;
}
.name,.lastName {
    margin: 0;
    display: block;
    will-change: opacity, transform;
    font-size: 70px !important; 
}
#aboutP{ 
    min-width: 13rem;
}
.homepage {
    min-height: 100vh;
    background-image: url(assets/backgroundwave.svg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: move_curves 110s ease infinite;
    background-position: 40%;
}
#home {
    overflow: hidden;
    display: flex;
    padding: 18vh 0 60px 15%;
    flex-direction: row;
}
#homepageillustr {
    position: absolute;
    right: 4.5rem;
}
#homepageillustrImg {
    height: 26vw;

}

#cards {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}
.card {
    min-width: 19rem;
    width: 19rem;
    height: 17rem;
    position: relative;
    margin: 0rem 1.5rem 1.5rem 0;
    padding: 1rem;
    border: 2px solid #a31844;
    border-radius: 1rem;

}
.card:hover {
    box-shadow: 0 0 18px #630e29;
}
.github {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.langs {
    position: absolute;
    bottom: 0;
    margin-bottom: 2.4rem;
}
@media only screen and (max-width: 1400px) {
    #cards {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 1330px) {
    .illustration-section {
        display: none;
    }
    .illust-bgcolor {
        display: none;
    }
    #contactBackground {
        display: none;
    }
    .contactTitle {
        display: none;
    }
}
@media only screen and (max-width: 1300px) {
    .name,.lastName {
        font-size: 55px !important; 
    }
}
@media only screen and (max-width: 1195px) {
    .name,.lastName {
        font-size: 40px !important; 
    }
}
@media only screen and (max-width: 770px) {
    #homepageillustr {
        display: none;
    }
    .list {
        margin: 6rem 0 0 0 !important;
        padding: 0 !important;
        background-color: #160d20;
        width: 100% !important;
        min-width: 50px !important;
    }
    .nav-link {
        opacity: 0;
    }
    .nav-link.fadeIn {
        opacity: 1;
        transition: all ease-in-out .5s; 
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: all ease-in-out 0.7s;
        height: 60vh;
    }
    .nav-list.active {
        text-align: center;
        max-height: 60vh;
        max-width: 100% !important;
    }
}
@media only screen and (max-width: 522px) {
    #js {
        font-size: 40px;
    }
    i {
        font-size: 40px;
        margin: 0.6rem;
    }
    .card {
        min-width: 15rem;
    }
    #webglCanvas {
        display: none;
    }
}
@media only screen and (min-width: 770px) {
    .menuLogo {
        display: none;
    }
}
@keyframes move_curves {
    0% {
        background-position: 15% 50%;
    }
    50% {
        background-position: 100% 75%;
    }
    100% {
        background-position: 15% 50%;
    }
}
#projectAnim {
    height: 58vh;
    width: 77vw;
}
.expSkills {
    background-color: #6a439d;
}
.previousWork {
    background-color: #6a439d;
    height: 600px;
    padding: 120px 15% 60px 15%;
    margin-top: -3px;
}
.projects {
    height: auto;
    background-color: #160d20;
    padding: 60px 15% 60px 15%;
}
.contact {
    z-index: 1;
    position: relative;
    background-color: #191025;
    margin-top: 15rem;
    margin-bottom: 0;
    height: 842px;
    padding: 60px 15% 38px 15%;
}

.form-section {
    margin-top: 10rem;
}

.navbar {
    height: 100px;
    width: 100%;
    padding-top: 1rem;
}
.logo {
    float: left;
    margin-left: 6rem;
    margin-top: 1.9rem;
    font-weight: bold;
    font-size: 1.5em;
    color: #a31844;
    cursor: default;
}
.menuLogo {
    float: right;
    margin-right: 4.2em;
    margin-top: 1.9rem;
    cursor: pointer;
}
.list {

    padding-top: 1.5rem;
    padding-right: 3.5rem;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 500px;

}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
}
.nav-link {
    display: block;
    color: #D6C5F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.27s;
}

li:hover .nav-link {
    color: #a31844;
}







.btn-primary {
    width: 424px;
    height: 45px;
    margin:15px;
    border: 1px solid #a31844;
    border-radius: 3rem;
    
    font-size: large;
    background-color: transparent;
    color: #dadada;
    transition: 0.4s;
}
.btn-primary:hover {
    background-color: #a3184449;
}

#work {
    min-width: 13rem;
    color:#dadada; 
    margin: 2.8rem 0rem 0.7rem 0.4rem;
}
#time {
    min-width: 13rem;
    color:#bbbbbb;
    font-size: 1.1em;
    margin: 0.5rem 0rem 0rem 1rem;
}
#place {
    min-width: 13rem;
    color:#bbbbbb;
    font-size: 1.1em;
    margin: 0.5rem 0rem 0rem 1rem;
}
#skills {
    margin-top: 11rem;
    min-width: 247px;
}
#skillsList{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    float:left;
    padding: 0;
    margin: 0;
    margin-top: 1.4rem;
}
#skillsList2{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    float:left;
    padding-left: 6rem;
    margin: 0;
    margin-top: 1.4rem;

}
.skillItem{
    color:#bbbbbb;
    font-size: 1.8em;
    text-align:left;
    

}





.formList{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    float:left;
    padding: 0;
    margin: 0;
}

.formItem{
    color:#a31844;
    text-align:left;

}
.main-input {
    width: 424px;
    max-width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    min-width: 424px;
    background-color: #1c1227;
    border-color: #301b4d;
    border-style:solid;
    border-width: 1px;
    transition: 0.4s;
}
.main-input:hover {
    border-color: #a31844;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}
form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
.form {
    width: 33%;
}
#user_message {
    height: 6rem;
}

@font-face {
    font-family: Sequel100;
    src: url("assets/Sequel100Black-85.ttf") format("truetype");
 }

.contactTitle {
    width: 500px;
    position: absolute;
    right: 122px;
    bottom: 385px;

    font-family: 'Sequel100', sans-serif;
    transition: transform 0.1s ease;
    font-size: 5rem;
    line-height: 100%;
    z-index: 3;
}
.illustration-section {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50vw;
    height: 931px;
}
.illust-bgcolor {
    position: absolute;
    background-color: #281c34;
    right: 0px;
    bottom: 0px;
    width: 5vw;
    height: 931px;
}
#contactBackground {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}
@media only screen and (max-width: 602px) {
    #skills {
        min-width: 247px;
        margin-top: 5rem;
    }
    #skillsList{
        padding: 0;
        margin: 0;
    }
    #skillsList2{
        padding-left: 0;
        margin: 0;
    
    }
    .skillItem{
        font-size: 1em;
    }
    .logo {
        margin-left: 1em;
    }
    .form {
        width: 100%;
    }
    .main-input {
        width: 100%;
        min-width: 100px;
    }
    .btn-primary {
        width: 100%;
        min-width: 100px;     
    }
    .menuLogo {
        margin-right: 1.7em;
    }
    .navbar {
        padding-top: 0;
    }
}
body.noScroll {
    overflow: hidden;
    height: 100%;
    position: fixed; /* Prevents scrolling */
    width: 100%;
    top: 0; /* Ensures the body stays at the top */
}